body{
  background-color: lightgoldenrodyellow;  
}
img.heroimg{
    width: 800px;
    height: 600px;
}

.menu{
    font-family: "Futura", sans-serif;
    font-weight: lighter;
}
.hours{
    font-family: "Helvetica", Arial, sans-serif;
}